<!DOCTYPE html>
<html>
<head>
  <title>Ada Snaps!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class = "container">
    <div class = "navbar navbar-default navbar-fixed-top">
      <div class = "container-fluid">


      <div class = "name">
        <h1><%= link_to "Snaps for Ada!", root_path %></h1>
      </div>
      <div class = "logo">
        <%= image_tag 'finger_snap.jpg' %>
      </div>
    </div>

  </div>
  <hr>
  <div class = "container page">
    <div class = "row">

      <div class = "col-sm-2">
        <h2>About</h2>
        <p>
          Give someone a compliment in less than 140 characters!
        </p>
      </div>

      <div class = "col-sm-10">
        <div class = "container-fluid">
          <%= yield %>
        </div>
      </div>

    </div>
  </div>

</div>

</body>
</html>
